body{
  background-color: #073859;
}

nav ul{
  list-style-type: none;
  height: 100%;
  overflow: hidden;
  padding: 10px;
  margin-top: 0px;
  margin-bottom: 5px;
  margin-left:0px;
  background-color: #FEFFFC;
  border-radius: 5px;
}

nav li {
  float left;
  display: inline;
}

nav a {
  padding: 15px;
  text-decoration: none;
  color: black;
}

nav a:hover{
  background-color: #1275E8;
}

nav .active{
  background-color: #1275E8;
}

.reviewgrid{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.reviewgrid p{
  display: block;
  padding: 20px;
  margin-bottom: 0px;
}

.reviewcontentgrid{
  display: grid;
  grid-template-areas:
  "stars"
  "reviewcontent";
  border-style: solid;
  border-color: black;
  margin: 20px;
  max-width: 45%;
  min-width: 10%;
  height: auto;
}
.reviewcontentgrid p{
  margin-top: 0px;
  padding: 10px;
}

img.abtpicleft{
  width: 80%;
  height: auto;
  display: block;
  position: relative;
  top:50%;
  transform: translateY(-90%);
  margin: 0 auto;
}

img.abtpicright{
  width: 80%;
  height: auto;
  display: block;
  position: relative;
  top:50%;
  transform: translateY(30%);
  margin: 0 auto;
}

h1.signature{
  font-family: 'Great Vibes', cursive;
}

.starrating{
  grid-area: stars;
}

.reviewcontent{
  grid-area: reviewcontent;
}

.wrapper{
  display: grid;
  grid-template-columns: 1fr 5fr;
  grid-column-gap: 5px;
  grid-row-gap:5px;
  grid-template-areas:
  "sidebar content"
  "footer footer";
  text-align: center;
}

.wrapper2{
  display: grid;
  grid-template-columns: 1fr 5fr;
  grid-column-gap: 5px;
  grid-row-gap:5px;
  grid-template-areas:
  "content content"
  "footer footer";
  text-align: center;
}

.wrapper3{
  display: grid;
  grid-template-columns: 1fr 5fr 1fr;
  grid-column-gap: 0px;
  grid-row-gap:5px;
  grid-template-areas:
  "imgleft content imgright"
  "footer footer footer";
  text-align: center;
  border-radius: 5px;
}

.content{
  grid-area: content;
  background-color: #FEFFFC;
  border-radius: 5px;
  height: auto;
}

.content2{
  grid-area: content;
  background-color: #FEFFFC;
  border-radius: 0px;
  height: auto;
}

.imgleft{
  background-color: #FEFFFC;
  border-bottom-left-radius:10px;
  border-top-left-radius:10px

}

.imgright{
  background-color: #FEFFFC;
  border-bottom-right-radius:10px;
  border-top-right-radius:10px
}

.content img{
  display: block;
  margin-left:10px;
  margin-right:20px;
  margin-bottom: 0px;
  padding-bottom: 0px;
  float: left;
}

.content h3{
  margin: 40px;
}

.sidebar{
  grid-area: sidebar;
  background-color: #FEFFFC;
  border-radius: 5px;
  height: auto;
}

textarea{
  vertical-align: top;
  height: 10em;
  width: 30em;
}

input{
  width: 30em;
}

label{
  text-align: right;
  display: inline-block;
  width: 200px;
}

p.about{
  font-size: large;
}

.featured a, .sidebar a{
  color: blue;
}

p.supersmall {
  font-size: 12px;
}

p.complaints{
  margin-left: 80px;
  margin-right: 80px;
}

.sidebar a{
  display: block;
  margin-bottom: 20px;
}

.footer{
  grid-area: footer;
  background-color: #FEFFFC;
  border-radius: 5px;
  height: 50px;
}
